.container {
  padding: 1.3rem;
  background: rgb(243, 239, 239);
}
.backDropContainer {
  width: 100%;
  height: 30vh;
  background: url("https://images.pexels.com/photos/16564260/pexels-photo-16564260.jpeg?_gl=1*1nag2k6*_ga*MjAwMTg3NzMxMC4xNzQ1OTIwMjEw*_ga_8JE65Q40S6*czE3NTMyNTk1NDkkbzUkZzEkdDE3NTMyNTk2NjkkajQwJGwwJGgw");
  background-repeat: no-repeat;
  position: relative;
  border-radius: 20px;
}
.backDropContainer img {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -30%;
  left: 8%;
  text-align: center;
}
