.container {
  padding: 1.3rem;
  background: rgb(243, 239, 239);
}
.backDropContainer {
  width: 100%;
  height: 30vh;
  background: url("https://images.pexels.com/photos/16564260/pexels-photo-16564260.jpeg?_gl=1*1nag2k6*_ga*MjAwMTg3NzMxMC4xNzQ1OTIwMjEw*_ga_8JE65Q40S6*czE3NTMyNTk1NDkkbzUkZzEkdDE3NTMyNTk2NjkkajQwJGwwJGgw");
  background-repeat: no-repeat;
  position: relative;
  background-size: cover;
  border-radius: 20px;
}
.backDropContainer img {
  width: 10em;
  height: 10em;
  object-fit: cover;
  border-radius: 50%;
  position: absolute;
  bottom: -30%;
  left: 8%;
  text-align: center;
}
.profileContainer_details {
  padding-top: 6.6rem;
}
.card {
  display: flex;
  align-items: center;
  gap: 1.4rem;
}
.card_profileContainer {
  display: flex;
}
.card_profileContainer > img {
  width: 3.4rem;
  height: auto;
  object-fit: cover;
}
.connectionBtn {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  background: rgb(3, 93, 183, 0.905);
  outline: none;
  border: none;
  color: white;
  border-radius: 10px;
  cursor: pointer;
}
.connectedButton {
  padding-inline: 0.8rem;
  padding-block: 0.3rem;
  border: 1px solid blue;
  outline: none;
  border-radius: 10px;
  cursor: pointer;
}
